.item {
  display: flex;
  flex-direction: column;
  background-color: var(--background-fill);
}

.item__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.item__information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.item__information hr {
  margin: 0;
}

.item__name {
  margin: 0;
  width: 65%;
  height: 28px;
}

.item__description {
  flex-grow: 1;
  margin: 0;
}

.item__text {
  height: 14px;
  margin: 3px 0;
}

.item__text:last-child {
  width: 35%;
}

.item__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.item__button {
  grid-column: 1 / -1;
  height: 26px;
  background-color: var(--accent);
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.item__button-text {
  max-width: 100px;
  margin: 0 auto;
}
