.footer {
  padding: 16px 80px;
  background-color: var(--background-secondary);
}

.footer__button {
  min-width: 100px;
  padding: 4px 16px;
  color: var(--text-alt);
  font-size: 16px;
  background-color: var(--text);
  border: 3px solid transparent;
  border-radius: 16px;
  cursor: pointer;
}

.footer__button--active {
  border-color: var(--primary);
}
